// ==================================================
// Basic styles
// ==================================================

body
  font-size default-font-size
  font-family font-stack
  color font-color
  line-height default-line-height

// Anchor
a,
a:visited
  color anchor-color
  text-decoration none

a:hover
  color highlight-anchor-color

a:focus
  outline none
