// ==================================================
// Placeholders
// ==================================================

// Clear float placeholder
$clearfix
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both

// Core styles for triangle utility
$triangle-core
  size 0 0
  font-size 0
  overflow hidden
